.game-board
{
	width: 450px;
	height: 450px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}


.button{
  height: 40px;
  width: 200px;
  margin: 10px;
  background-color: #34495e;
  color: #fff;
  border-color: #2c3e50;
  border-radius: 5px;
  font-size: 20px;
}

.square{
  width: 150px;
  height: 150px;
  font-size: 46px;
}

